body {
    background-color: #686DE0;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: white;
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 60px;

}

h3 {
    letter-spacing: 2px;
    font-size: 12px;
    color: #8F8F8F;
    position: relative;
    top: -40px;
}

button {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    width: 130px;
    font-size: 10px;
    position: relative;
    bottom: -40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #9F68E0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}